language: ruby
sudo: false
cache: bundler
bundler_args: --without tools
services:
  - redis-server
script: "bundle exec rake spec"
rvm:
  - 2.0
  - 2.1
  - 2.2
  - rbx-2
  - jruby-head
  - ruby-head
env:
  global:
    - CODECLIMATE_REPO_TOKEN=621087cd55965563c8deffef2b11eef3298a42dc5795686da994ea3ac86f7b13
    - JRUBY_OPTS='--dev -J-Xmx1024M'
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/39e1225f489f38b0bd09
    on_success: change
    on_failure: always
    on_start: false
